<h1 id="headline" >Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">

      <div class="col s6">
        <p id="not-devoured-text">This buger looks yummy!</p>
        {{#each burgers}} {{#unless this.devoured}}
        <div id="not-devoured-burgers">
          <button class="notEaten" data-id="{{id}}" data-newDevour="{{devoured}}">
            {{this.burger_name}}
          </button>
        </div>
        {{/unless}} {{/each}}
      </div>

      <div class="col s6">
        <p id="devoured-text">This burger has been DEVOURED!!!</p>

        {{#each burgers}} {{#if this.devoured}}
        
          <div>
            <button class="burgerEaten" data-id="{{id}}" data-newDevour="{{notDevoured}}">
            {{this.burger_name}}


            {{this.burger_name}}
          </div>
    
        {{/if}} {{/each}}
      </div>

    </div>
  </div>
</main>

<h3 id="make-text">Make Your Own Burger!</h3>

<div class="row" id="make-field">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Double Bacon Cheese Burger">
      <button type="submit" class="addBurgerButton">Add My Burger</button>
    </form>
  </div>
</div>